.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}

.input-email {
    margin-bottom: 22px;

}

.secondary-button {
    background-color: var(--while);
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

@media (max-width: 640px){
    
    .logo {
        display: block;
    }

    .secondary-button {
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
}